In [4]:
import pandas as pd 
import os

In [5]:
os.chdir(r'C:\Users\Seyy_\OneDrive\Desktop\jupyter projects\alex the analyst bootcamp\python')
print(os.getcwd())

C:\Users\Seyy_\OneDrive\Desktop\jupyter projects\alex the analyst bootcamp\python

In [7]:
df = pd.read_excel(r"C:\Users\Seyy_\OneDrive\Desktop\sql data analyst practice file\excel practice\WorkTheData-bikestores\BikeStores.xlsx", index_col='order_id')
df

,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
order_id,,,,,,,,,,,
1,Johnathan Velazquez,Pleasanton,CA,2016-01-01,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,Johnathan Velazquez,Pleasanton,CA,2016-01-01,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,Johnathan Velazquez,Pleasanton,CA,2016-01-01,2,3098,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
1,Johnathan Velazquez,Pleasanton,CA,2016-01-01,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
1,Johnathan Velazquez,Pleasanton,CA,2016-01-01,2,,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
...,...,...,...,...,...,...,...,...,...,...,...
1614,Dorthey Jackson,Houston,TX,2018-11-28,1,1499,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
1614,Dorthey Jackson,Houston,TX,2018-11-28,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
1615,Sarita Parks,Forney,TX,2018-12-28,1,899.99,Electra Tiger Shark 3i - 2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
1615,Sarita Parks,Forney,TX,2018-12-28,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
1615,Sarita Parks,Forney,TX,2018-12-28,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [ ]:
#Group By eg df.groupby()

In [9]:
st_group = df.groupby('store_name')

In [11]:
st_group.mean(numeric_only=True)

                  total_units
store_name
Baldwin Bikes        1.495775
Rowlett Bikes        1.502879
Santa Cruz Bikes     1.506958

In [15]:
#checking the dataypesabs
df.select_dtypes(include='number').columns

#st_group[['total_units', 'revenue']].mean()

Index(['total_units'], dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4722 entries, 1 to 1615
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customers      4722 non-null   object
 1   city           4722 non-null   object
 2   state          4722 non-null   object
 3   order_date     4722 non-null   datetime64[ns]
 4   total_units    4722 non-null   int64
 5   revenue        4722 non-null   object
 6   product_name   4722 non-null   object
 7   category_name  4722 non-null   object
 8   brand_name     4722 non-null   object
 9   store_name     4722 non-null   object
 10  sales_rep      4722 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 442.7+ KB

In [ ]:
#imported a new csv file to work

In [ ]:
df1 = pd.read_csv(r"C:\Users\Seyy_\Downloads\csv folder\datasets.csv",index_col= 'id')

df1

In [ ]:
room_group = df1.groupby('room_type')

In [24]:
room_group.mean(numeric_only=True)

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,beds
room_type,,,,,,,,,,,
Entire home/apt,1.640295e+08,40.726309,-73.947094,222.966381,29.423713,39.485764,1.172741,20.457118,208.761315,9.868282,2.076071
Hotel room,2.332673e+08,40.745921,-73.984082,415.053571,8.776786,57.696429,1.221964,30.312500,273.178571,4.544643,1.616071
Private room,1.873515e+08,40.727373,-73.928882,139.572566,27.736226,46.295127,1.366075,17.121890,201.111894,12.168352,1.258321
Shared room,2.087156e+08,40.723141,-73.919229,156.680412,26.703072,49.378840,1.357952,4.191126,223.098976,12.293515,1.822526

In [26]:
room_group.count()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
room_type,,,,,,,,,,,,,,,,,,,,
Entire home/apt,11555,11555,11555,11555,11555,11555,11555,11541,11555,11555,11555,11555,11555,11555,11555,11555,11555,11555,11555,11555
Hotel room,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112
Private room,8803,8803,8803,8803,8803,8803,8803,8792,8803,8803,8803,8803,8803,8803,8803,8803,8803,8803,8803,8803
Shared room,293,293,293,293,293,293,293,291,293,293,293,293,293,293,293,293,293,293,293,293

In [27]:
room_group.min()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
room_type,,,,,,,,,,,,,,,,,,,,
Entire home/apt,Aparthotel in New York · Studio · 1 bed · 1 bath,2234,#NAME?,Bronx,Allerton,40.500314,-74.249840,10.0,1.0,1.0,01/01/17,0.01,1.0,0.0,0.0,Exempt,2,1,1,0
Hotel room,Bed and breakfast in New York · Studio · 1 bed...,417504,Arlo NoMad,Brooklyn,Chelsea,40.718699,-74.007940,80.0,1.0,1.0,01/01/20,0.02,1.0,0.0,0.0,Exempt,3.13,1,1,1
Private room,Aparthotel in New York · ★4.49 · 1 bedroom · 2...,1678,475,Bronx,Allerton,40.541530,-74.191376,10.0,1.0,1.0,01/01/16,0.01,1.0,0.0,0.0,Exempt,1.75,1,1,0
Shared room,Bungalow in Brooklyn · ★4.60 · 2 bedrooms · 2 ...,8703,A,Bronx,Arverne,40.546247,-74.162920,14.0,1.0,1.0,01/01/24,0.01,1.0,0.0,0.0,Exempt,2.25,1,1,0

In [28]:
room_group.max()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
room_type,,,,,,,,,,,,,,,,,,,,
Entire home/apt,casa particular in The Bronx · ★4.52 · 1 bedro...,550403525,Ирина,Staten Island,Woodside,40.911147,-73.713836,10000.0,1250.0,1139.0,31/12/23,61.65,713.0,365.0,1075.0,ose-strreg-0001021,No rating,Studio,42,6.5
Hotel room,Serviced apartment in New York · ★4.79 · 4 bed...,496932087,Walker Hotel Greenwich Village,Queens,West Village,40.809000,-73.935010,7590.0,60.0,745.0,31/12/23,14.19,201.0,365.0,139.0,OSE-STRREG-0000068,No rating,Studio,8,4
Private room,casa particular in The Bronx · ★4.09 · 1 bedro...,549467833,玉姗,Staten Island,Woodside,40.910620,-73.713650,100000.0,1000.0,1865.0,31/12/23,75.49,589.0,365.0,697.0,ose-strreg-0001103,No rating,Studio,18,Not specified
Shared room,casa particular in Queens · ★5.0 · 1 bedroom ·...,526029430,Zachary,Staten Island,Woodside,40.869480,-73.726490,10000.0,100.0,506.0,31/12/23,9.31,236.0,365.0,105.0,OSE-STRREG-0001098,No rating,Studio,11,4

In [29]:
room_group.sum()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
room_type,,,,,,,,,,,,,,,,,,,,
Entire home/apt,Rental unit in New York · ★4.67 · 2 bedrooms ·...,1895360877298,JenifferJoshuaStay With VibeJenifferJenifferJo...,ManhattanManhattanManhattanManhattanManhattanM...,Hell's KitchenChelseaMurray HillHell's Kitchen...,470592.499707,-854458.672156,2573255.0,339991.0,456258.0,01/05/2318/12/2303/12/2329/07/2301/05/2318/12/...,13551.02,236382.0,2412237.0,114028.0,No LicenseExemptNo LicenseNo LicenseNo License...,4.674.174.9154.674.174.9154.334.54.674.71No ra...,21Studio121Studio1Studio21Studio12211211111312...,23989,11111111111111211111111312111111111411111113.5...
Hotel room,Serviced apartment in New York City · Studio ·...,26125939156,Chamber HotelVidaArlo SoHoChamber HotelIncentr...,ManhattanBrooklynManhattanManhattanManhattanMa...,MidtownGreenpointSoHoMidtownWest VillageTheate...,4563.543172,-8286.217218,46486.0,983.0,6462.0,02/07/1915/11/2305/12/2101/01/2009/06/2210/11/...,136.86,3395.0,30596.0,509.0,ExemptNo LicenseExemptExemptNo LicenseExemptEx...,No rating4.954.42No rating4.854.574.474.63No r...,StudioStudio1111111311111111111111111111111111...,181,1111111113111111111111111111111111111111211111...
Private room,Rental unit in Brooklyn · ★5.0 · 1 bedroomRent...,1649255270290,WalterJohn And CatherineJohn And CatherineMarg...,BrooklynManhattanManhattanBrooklynQueensQueens...,Clinton HillWashington HeightsWashington Heigh...,358523.068235,-650795.945949,1227122.0,244162.0,407536.0,20/12/1517/09/2317/09/2301/10/2321/08/2303/11/...,12025.56,150724.0,1770388.0,107118.0,No LicenseNo LicenseNo LicenseNo LicenseNo Lic...,54.644.644.79No ratingNo ratingNo rating4.8No ...,1111111111111111111121111Studio112131Studio121...,11077,Not specified11111111111.51112111111.511111111...
Shared room,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,61153665316,AlexJohn J.John J.Shane & ShreshthAnastasiaJo'...,BrooklynManhattanManhattanQueensBrooklynManhat...,East New YorkHell's KitchenHell's KitchenKew G...,11931.880184,-21658.334136,45594.0,7824.0,14468.0,04/11/2317/02/2028/02/2021/08/2307/06/2209/11/...,397.88,1228.0,65368.0,3602.0,No LicenseNo LicenseNo LicenseNo LicenseNo Lic...,No ratingNo rating4.674.93No rating4.064.674.5...,11111111131221111111Studio21111211113111214111...,534,12.52121111.51.51122.5211211121123111111.51221...

In [ ]:
#aggregating a specific column like price

In [ ]:
df1.groupby('room_type').agg({'price':['mean', 'min', 'sum', 'max', 'count'], 'neighbourhood_group':['count','nunique', 'first']})

In [ ]:
df1.groupby('room_type').describe()