In [1]:
#scrapping web Telecom networks

In [18]:
from bs4 import BeautifulSoup
import requests

url = 'https://en.wikipedia.org/wiki/List_of_telecommunications_companies'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115 Safari/537.36'
}

In [19]:
response = requests.get(url, headers=headers)

In [20]:
soup = BeautifulSoup(response.text, 'html.parser')

In [24]:
table = soup.find('table', class_='wikitable sortable')

In [28]:
header = table.find_all('th')

In [30]:
head_title = [title.text.strip() for title in header]

print(head_title)

['Rank', 'Company', 'Total revenue(US$ billion)', 'Country']

In [47]:
import pandas as pd

In [48]:
df= pd.DataFrame(columns=head_title)

In [49]:
df

Empty DataFrame
Columns: [Rank, Company, Total revenue(US$ billion), Country]
Index: []

In [50]:
column_data = table.find_all('tr')

In [51]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    insert_data = [data.text.strip() for data in row_data]

    df.loc[len(df)] = insert_data

In [52]:
df

   Rank           Company Total revenue(US$ billion)        Country
0     1      China Mobile                  $140.5[1]          China
1     2           Verizon                    $134[2]  United States
2     3              AT&T                  $122.4[3]  United States
3     4           Comcast                  $121.6[4]  United States
4     5  Deutsche Telekom                  $120.7[5]        Germany
..  ...               ...                        ...            ...
84   85     Algar Telecom                   $1.1[85]         Brazil
85   86         Cable One                   $1.7[86]  United States
86   87          Mediacom                   $1.1[87]  United States
87   88            Vonage                   $1.0[88]  United States
88   89            Cell C                   $1.0[89]   South Africa

[89 rows x 4 columns]

In [53]:
df = df.set_index('Rank')

In [54]:
df

               Company Total revenue(US$ billion)        Country
Rank
1         China Mobile                  $140.5[1]          China
2              Verizon                    $134[2]  United States
3                 AT&T                  $122.4[3]  United States
4              Comcast                  $121.6[4]  United States
5     Deutsche Telekom                  $120.7[5]        Germany
...                ...                        ...            ...
85       Algar Telecom                   $1.1[85]         Brazil
86           Cable One                   $1.7[86]  United States
87            Mediacom                   $1.1[87]  United States
88              Vonage                   $1.0[88]  United States
89              Cell C                   $1.0[89]   South Africa

[89 rows x 3 columns]

In [56]:
df.to_csv(r'C:\Users\Seyy_\OneDrive\Desktop\jupyter projects\alex the analyst bootcamp\python/Worlds Telecom file.csv')